<div class="container p-5">
  <h1>Add a Movie to <%= @list.name %></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <hr>

  <%= link_to "Back", list_path(@list), class: "btn btn-danger" %>
</div>
